<div
  class="container-fluid text-white p-3"
  style="font-family: 'Poppins', sans-serif; background: #0f0c29;"
>

  <div style="align-items: center">
    <img
      src="assets/iitbvp-logo-tp2.png"
      style="height: 40px; padding-left: 560px;"
    />

    <p class="text-center">
      <a  style="text-decoration: none; color: white"
        >The Site Was Made With
        <span style="font-size: 500%; color: red">&hearts;</span> By Dipayan for
        DevCom</a
      >
    </p>

    <hr>
  </div>



  <div class="row justify-content-around text-center text-md-start">
    <div class="col-md-2 align-center">
      <img src="assets\logo-no-background.png" height="70px" style="padding-top: 30px;">
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li class="fw-bold my-2">Navigation</li>
        <li><a href="#" class="text-decoration-none text-white">Home</a></li>
        <li>
          <a href="#candy" class="text-decoration-none text-white">Candidates</a>
        </li>
        <li>
          <a href="#vp" class="text-decoration-none text-white"
            >Voting Portal</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li class="fw-bold my-2">About</li>
        <li>
          <a
            href="https://docs.google.com/document/d/1W2JmfE2aL4bmb6ZfAvI6K-G0Jxr4h_lIcb_aT_jVGSw/edit?usp=sharing"
            class="text-decoration-none text-white"
            >Why I want devcom?</a
          >
        </li>
        <li>
          <a
            href="https://docs.google.com/document/d/1mwNMC-zc3BF9_uppYz4lEqx5MfF39nazX7L73ebdJcs/edit?usp=sharing"
            class="text-decoration-none text-white"
            >References</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <ul class="list-unstyled">
        <li class="fw-bold my-2">Contact</li>
        <li>
          <a
            href="mailto:d.dipayan2002@gmail.com"
            class="text-decoration-none text-white"
            >d.dipayan2002@gmail.com</a
          >
        </li>
        <li>
          <a href="tel:+9382028391" class="text-decoration-none text-white"
            >+919382028391</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-2 justify-content-center">
      <li class="fw-bold my-2 list-unstyled" style="padding-left: 8px;">Follow me</li>
      <ul class="list-unstyled d-flex justify-content-center justify-content-md-start " >
        <a href="https://github.com/dipayan002"><li ><i class="fa fa-github" style="padding: 10px;" ></i></li></a>
        <a href="https://www.instagram.com/_dd002/"><li><i class="fa fa-instagram" style="padding: 10px;" ></i></li></a>
        <a href="https://www.facebook.com/dipayan2002/"><li><i class="fa fa-facebook" style="padding: 10px;" ></i></li></a>
        </ul>
      
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12 text-center pt-2">
      <p>
        &copy; 2023 Copyright <a href="#" class="text-white"></a
        ><a
          href="https://www.linkedin.com/in/dipayan-d-039015123/"
          style="text-decoration: none"
          >Dipayan Das</a
        >
      </p>
    </div>
  </div>
</div>
