section {
  min-height: 100vh;
  background: linear-gradient(#d62868, #fff);
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  align-items: center;
  padding-left: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#pl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: var(--valu1);
  object-fit: contain;
  mix-blend-mode: screen;
}
#rs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#text {
  position: absolute;
  color: #003049;
  opacity: 0.4;
  white-space: wrap;
  font-size: 25vw;
  z-index: 9;
  left: var(--valu);
  top: 0px;
  bottom: 150px;
  padding-top: 0%;
}
#text2 {
  position: relative;
  color: #003049;
  opacity: 0.4;
  white-space: wrap;
  font-size: 20vw;
  z-index: 9;
  left: var(--valu);
  top: 200px;
  bottom: 150px;
}
