
<section class="team-section" id="vp">
  <div class="container">
      <div class="row">
          <div class="section-title">
              <h1>Your Vote Matters</h1>
              <p>"Somewhere inside all of us is the power to change the world"-<br>
                <strong>Roald Dahl</strong>
              </p>
          </div>
      </div>
      <div class="row">
          <div class="team-items">
               <div class="item" id="CandBox1" (click)="onClick1()">
                   <img src="{{candp1}}" alt="team" />
                   <div class="inner">
                       <div class="info">
                            <h5>{{cand1}}</h5>
                            <a class="btn" role="button" id="vbtn">{{inf}}</a>
                       </div>
                   </div>
               </div>
               <div class="item" id="CandBox2" (click)="onClick2()">
                   <img src="{{candp2}}" alt="team" />
                   <div class="inner">
                       <div class="info">
                            <h5>{{cand2}}</h5>
                            <a class="btn" role="button" id="vbtn">{{inf}}</a>
                       </div>
                   </div>
               </div>
               <div class="item" id="CandBox3" (click)="onClick3()">
                   <img src="{{candp3}}" alt="team" />
                   <div class="inner">
                       <div class="info">
                            <h5>{{cand3}}</h5>
                            <a class="btn" role="button" id="vbtn">{{inf}}</a>
                       </div>
                   </div>
               </div>
               <div class="item "  id="CandBox4" (click)="onClick4()">
                   <img src="{{candp4}}" alt="team" />
                   <div class="inner">
                       <div class="info">
                            <h5>{{cand4}}</h5>
                            <a class="btn" role="button" id="vbtn">{{inf}}</a>
                       </div>
                   </div>
               </div>
          </div>
      </div>
      <div  id="ty" >
          <h1>Thank You For Voting!!</h1>
      </div>
  </div>
</section>



