<mat-card style="background-color:aquamarine">
  <mat-card-header>
    <h1 style="font-size: xx-large; color:maroon" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Sign Up</b></h1>
  </mat-card-header>
  <mat-card-content>
      <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregister()">
        <div>

          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="id" >
          </mat-form-field>
        </div>
        <div>

          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" >
          </mat-form-field>
        </div>
        <div>
          
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" >
          </mat-form-field>
        </div>
        <div>
          
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" >
          </mat-form-field>
        </div>
            
            <mat-radio-group formControlName="gender" aria-label="Select an option">
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
            <div>
              <button mat-raised-button color="primary">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
              <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
            </div>
        </form>
  </mat-card-content>
</mat-card>
